/* import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alatsi&&family=Inter:wght@600&display=swap');

input {
    padding: 5px;
    font-size: 16px;
    width: 90%;
    font-family: Alatsi, sans-serif;
}

label {
    text-align: center;
    font-family: Alatsi, sans-serif;
    font-size: 18px;
    display: block;
}

.ask-button {
    padding: 5px;
    border: 3px black solid;
    border-radius: 20%;
    background-color: black;
    color: white;
    font-family: Alatsi, sans-serif;
    font-size: 18px;
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eight-ball {
    width: min(100%, 70vh);
}

.fadein {
    animation: fadein 4.2s;
}

.fadeout {
    animation: fadeout 4.2s;
}

.magic-heading {
    font-family: Inter, sans-serif;
    font-size: 35px;
    margin: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.text-center {
    text-align: center;
}

.vert-spacing {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* set position for answers box, to allow overlay */
#answers {
    position: relative;
    width: min(100%, 70vh);
}

@keyframes fadein {
    0% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity: 1}
}

@keyframes fadeout {
    0% {opacity: 1;}
    10% {opacity: 1;}
    100% {opacity: 0}
}

/* adjust font sizes for larger screens */
@media screen and (min-width: 360px) {
    label {
        font-size: 23px;
    }

    .ask-button{
        font-size: 23px;
    }

    .magic-heading {
        font-size: 50px;
    }
}

/* limit sizes when screen is wide */
@media screen and (min-width: 500px) {
    input {
        width: 500px;
    }
    
    .eight-ball {
        width: min(70vh, 500px);
    }
}
